<div id="selector-row">
  <button type="button" [ngClass]="buttonStyle('items')"
    (click)="show('items')">{{terms.items}}</button>
  <button type="button" [ngClass]="buttonStyle('stories')"
    (click)="show('stories')">{{terms.stories}}</button>
</div>
<item-list *ngIf="selectedList==='items'"></item-list>
<story-list *ngIf="selectedList==='stories'"></story-list>

<div id="data-service-download">
  <button *ngIf="!downloadReady"
    type="button" (click)="prepDataServiceFile()"
    class="btn btn" [disabled]="buttonPrepping">
    {{prepButtonText}}
  </button>
  <a *ngIf="downloadReady"
    [href]="serverhref" download="in-memory-data.service.ts"
    (click)="downloadClick()"
    class="btn btn-primary">Download File</a>
</div>