<body *ngIf="item">
  <div id="name">{{item.name}}</div>
  <div id="caption">{{item.caption}}</div>
  <div id="description">{{item.description}}</div>
  <div id="image" *ngIf="item.imageUrl">
    <img src={{item.imageUrl}} alt={{item.name}} 
      style="width:200px">
  </div>
  <div id="tags">
    <span *ngFor="let tag of (item.tags | stringFilter)">
      <b>#{{tag}}</b>
    </span>
  </div>
  <div id="item-id"><label>id: </label>{{item.id}}</div>
</body>
<div *ngIf="item" id="buttonrow">
  <button type="button" class="btn btn-primary"
    (click)="goToItem()">Item</button>
  <button type="button" class="btn btn-warning"
    (click)="edit()">Edit</button>
  <button type="button" class="btn btn-danger"
    (click)="delete()">Delete</button>
</div>