<body *ngIf="newItem">
  <h1>{{mode}}</h1>
  <form (ngSubmit)="save()" #itemForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
        required
        [(ngModel)]="newItem.name" name="name"
        #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
        class="alert alert-danger">
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="caption">Caption</label>
      <input type="text" class="form-control" id="caption"
        required
        [(ngModel)]="newItem.caption" name="caption"
        #caption="ngModel">
      <div [hidden]="caption.valid || caption.pristine"
        class="alert alert-danger">
        Caption is required.
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="5"
        [(ngModel)]="newItem.description" name="description">
      </textarea>
    </div>
    <div class="form-group">
      <label for="imageUrl">Image</label>
      <input type="text" class="form-control" id="imageUrl"
        [(ngModel)]="newItem.imageUrl" name="path"
        #image="ngModel">
      <img [hidden]="!image.valid || image.pristine"
        [src]="'./graphics/' + newItem.imageUrl"
        style="width:150px margin:10px 0 10px 0">
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input type="text" class="form-control" id="tag"
        [(ngModel)]="newItem.tags[0]" name="tag0">
      <input type="text" class="form-control" id="tag"
        [(ngModel)]="newItem.tags[1]" name="tag1">
      <input type="text" class="form-control" id="tag"
        [(ngModel)]="newItem.tags[2]" name="tag2">
    </div>
    <div *ngIf="newItem.id"><label>id: </label>{{newItem.id}}</div>
    <button type="Submit" class="btn btn-success"
      [disabled]="!itemForm.form.valid">Save</button>
    <button type="button" class="btn btn-warning"
      (click)="resetForm()">Reset</button>
    <button type="button" class="btn"
      (click)="goBack()">Back</button>
  </form>
</body>
<!-- <div>Reference: {{olddiagnostic}}</div>
<div>Edited:    {{newdiagnostic}}</div> -->