<body *ngIf="item">
  <div id="name">{{item.name}}</div>
  <div id="caption">{{item.caption}}</div>
  <div id="imagerow" *ngIf="item.imageUrls.length > 0">
    <img *ngFor="let imgUrl of item.imageUrls"
      [src]="'./graphics/' + imgUrl"
      class="itemimage">
  </div>
  <div id="description">{{item.description}}</div>
  <div id="tags">
    <span *ngFor="let tag of (item.tags | stringFilter)" class="tag">
      #{{tag}}
    </span>
  </div>
  <div id="item-id"><label>id: </label>{{item.id}}</div>
</body>
<div *ngIf="item" id="buttonrow">
  <button type="button" class="btn btn-primary"
    (click)="goToItem()">{{terms.item}}</button>
  <button type="button" class="btn btn-warning"
    (click)="edit()">Edit</button>
  <button *ngIf="deleteFunc" type="button" class="btn btn-danger"
    (click)="delete()">Delete</button>
</div>