body {
  margin:5px 0 5px 5px;
  background-color:transparent;
  height:calc(100% - 50px);
  overflow:hidden; overflow-y:auto;
}


#buttonrow {
  margin:5px 0 5px 5px;  
}


#name {
  font-size:20px;
  font-weight:bold;
}

#caption {
  font-size:12px;
  font-style:italic;
}

#description {
  font-size:14px;
  margin:5px 0 5px 0;
}

#imagerow {
  margin:10px 0 10px 0;
  padding:5px;
  height:100px;  width:calc(100% - 5px);
  white-space:nowrap;
  overflow:hidden;  overflow-x:auto;
}

.itemimage {
  height:100%;
  position:relative;
  top:-5px;
  margin:5px;
  display:inline-block;
}

#tags {
  font-weight:bold;
  font-size:14px;
  margin:5px 0 5px 0;
}

#item-id {
  float:right;
  font-size:12px;
}

.tag {
  display:inline-block;
  font-weight:bold;
  padding:2px 4px 2px 4px;
  width:auto;
  background-color:#BBB;
  border-radius:4px;
  margin:3px 3px 3px 3px;
  color:#444;
}
