body {
  margin:5px 0 5px 5px;
  background-color:transparent;
  height:calc(100% - 50px);
  overflow:hidden; overflow-y:scroll;
}


#buttonrow {
  margin:5px 0 5px 5px;
}


#name {
  font-size:20px;
  font-weight:bold;
}

#caption {
  font-size:12px;
  font-style:italic;
}

#description {
  font-size:14px;
  margin:5px 0 5px 0;
}

#items {
  font-weight:bold;
  font-size:14px;
  margin:5px 0 5px 0;
}

#story-id {
  float:right;
  font-size:12px;
}


.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.item-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width:300px;
}
.item-list li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: 0em 0;
  height:2em;  width:auto;
  border-radius: 4px;
}
.item-list .text {
  font-weight: bold;
  position: relative;
  vertical-align: middle;
}
.item-list .item-card {
  display: inline-block;
  font-weight: bold;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: 0px;
  height: 2.2em;
  border-radius: 4px;
}