body {
  margin:5px 0 5px 5px;
  background-color:transparent;
  height:calc(100% - 50px);
  overflow:hidden; overflow-y:scroll;
}


#buttonrow {
  margin:5px 0 5px 5px;
}


#name {
  font-size:20px;
  font-weight:bold;
}

#caption {
  font-size:12px;
  font-style:italic;
}

#description {
  font-size:14px;
  margin:5px 0 5px 0;
}

#items {
  font-weight:bold;
  font-size:14px;
  margin:5px 0 5px 0;
}

#story-id {
  float:right;
  font-size:12px;
}
