body {
  margin:5px 0 5px 5px;
  background-color:transparent;
  height:400px;
  overflow:hidden; overflow-y:scroll;
}


#buttonrow {
  margin:5px 0 5px 5px;  
}

button {
  font-size: 15px;
}


#name {
  font-size:24px;
  font-weight:bold;
}

#caption {
  font-size:13px;
  font-style:italic;
}

#description {
  font-size:15px;
  margin:5px 0 5px 0;
}

#tags {
  font-weight:bold;
  font-size:15px;
  margin:5px 0 5px 0;
}

#story-id {
  float:right;
  font-size:12px;
}
