body {
  margin:5px 10px 0 10px;
}

h1 {
  font-size:24px;
  font-weight:bold;
}

label {
  margin:0;
}

input {
  height:25px;
  font-size:14px;
}

#name {
  width:200px;
}

#tag {
  width:200px;
}

#imageUrl {
  width:200px;
}